.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    height: 100%;
    background-color: #24212c;
    opacity: 0;
}

.blurb {
    font-size: 1.2em;
    text-align: center;
}

.landingEnter {
    opacity: 0;
}
.landingEnterActive {
    opacity: 1;
    transition: opacity 5000ms;
}
.landingEnterDone {
    opacity: 1;
}
.landingExit {
    opacity: 1;
}
.landingExitActive {
    opacity: 0;
    transition: opacity 500ms;
}
.landingExitDone {
    opacity: 1;
}