@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    height: 100%;
    background-color: #24212c;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 5s;
}

.blurb {
    font-size: 1.2em;
    text-align: center;
}