.formtober {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directory {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .dirItem {
        display: grid;
        grid-template-columns: 32px 16px 32px auto;
        grid-template-rows: auto;
        grid-column-gap: 16px;
        font-size: 24px;

        transition: color 0.5s ease-out;

        &:hover {
            cursor: pointer;
            color: white;
        }
    }

    .redactedText {
        justify-self: start;
        text-align: start;
    }
}