@font-face {
    font-family: FiraCode;
    src: url("../assets/font/FiraCode-VariableFont_wght.ttf");
}

.blurb {
    font-size: 1.2em;
    font-family: FiraCode, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ecd0a7
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    height: 100%;
    background-color: #24212c;
}

.fireImages {
    width: 223px;
}

.fireImages>* {
    position: absolute;
}

.svg>svg {
    transform: scale(2) translatey(20px);
}

@media (max-width: 540px) {
    .svg>svg {
        transform: scale(1) translatey(10px);
    }
}